.navbar {
    background-color: rgba(255, 255, 0, 0.954);
}

#entrada {
    margin-top: 60px;
    background-color: maroon;
    
}


#MENU{
    background-image: url(imagenes/entablado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#mn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: yellow;
    font-style: normal;
    font-size: 150px;
}
h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: yellow;

}
#ltt{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 30px;
}
#formato{
    text-align: center;
}
#ms{
    background-color: red;
   
}
#mv{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: yellow;
    font-style: normal;
    font-size: 100px;
}
#MD{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: black;
    font-style : normal;
    font-size : 100px;
}
#mps{
    text-align: center;
}
#cont{
    background-color: darkgreen;
    color: white;
}
#copy{
    background-color: black;
    color: white;
    text-align: center;
}